.form {
    width: 40%;
}

.body {
    text-align: center;
}
.sub {
    margin-top: 5%;
}
.form-label-space , .form-input-space{
    margin-bottom: 10px; /* Ajustez la marge inférieure selon vos besoins */
}