<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
           data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" 
                data-bs-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"></a>
                   
                <div class="dropdown-menu" aria-labelledby="dropdown01">
               
                  <a class="dropdown-item" href="#"></a>
                
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="">
                  Présentation
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="">
                  Connexion
                </a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
</head>
<body>
    
    
    <div class="full">
        
        <img class="ecolabs" src="/static/images/DJI_0884.JPG" alt="">
        
        <div class="cell E1C3" id="E1C3">
            <button class="btnE1C3">E1C3</button>
            <div class="E1C2">
            <button class="btnE1C2">E1C2</button>
            </div>
            <div class="E1C1">
            <button class="btnE1C1">E1C1</button>
            </div>
            <div class="E3C3">
                <button class="btnE3C3">E3C3</button>
            </div>
            <div class="E3C2">
                <button class="btnE3C2">E3C2</button>
            </div>
            <div class="E3C1">
                <button class="btnE3C1">E3C1</button>
            </div>
            <div class="E5C3">
                <button class="btnE5C3">E5C3</button>
            </div>
            <div class="E5C2">
                <button class="btnE5C2">E5C2</button>
            </div>
            <div class="E5C1">
                <button class="btnE5C1">E5C1</button>
            </div>
            <div class="E2C1">
                <button class="btnE2C1">E2C1</button>
            </div>
            <div class="E2C2">
                <button class="btnE2C2">E2C2</button>
            </div>
            <div class="E2C3">
                <button class="btnE2C3">E2C3</button>
            </div>
            <div class="E4C1">
                <button class="btnE4C1">E4C1</button>
            </div>
            <div class="E4C2">
                <button class="btnE4C2">E4C2</button>
            </div>
            <div class="E4C3">
                <button class="btnE4C3">E4C3</button>
            </div>
            <div class="E6C1">
                <button class="btnE6C1">E6C1</button>
            </div>
            <div class="E6C2">
                <button class="btnE6C2">E6C2</button>
            </div>
            <div class="E6C3">
                <button class="btnE6C3">E6C3</button>
            </div>

            </div>
            <img class="ecolabs_mobil" src="/static/images/imgmobil2.png" alt="">
           
            <div class="cell E1C3_mobil">
            <button class="btnE1C3_mobil">E1C3</button>
            <div class="E1C2_mobil">
            <button class="btnE1C2_mobil">E1C2</button>
            </div>
            <div class="E1C1_mobil">
            <button class="btnE1C1_mobil">E1C1</button>
            </div>

            <div class="E2C1_mobil">
            <button class="btnE2C1_mobil">E2C1</button>
            </div>
            <div class="E2C2_mobil">
            <button class="btnE2C2_mobil">E2C2</button>
            </div>
            <div class="E2C3_mobil">
            <button class="btnE2C3_mobil">E2C3</button>
            </div>

            <div class="E3C3_mobil">
            <button class="btnE3C3_mobil">E3C3</button>
            </div>
            <div class="E3C2_mobil">
            <button class="btnE3C2_mobil">E3C2</button>
            </div>
            <div class="E3C1_mobil">
            <button class="btnE3C1_mobil">E3C1</button>
            </div>

            <div class="E4C1_mobil">
            <button class="btnE4C1_mobil">E4C1</button>
            </div>
            <div class="E4C2_mobil">
            <button class="btnE4C2_mobil">E4C2</button>
            </div>
            <div class="E4C3_mobil">
            <button class="btnE4C3_mobil">E4C3</button>
            </div>

            <div class="E5C3_mobil">
            <button class="btnE5C3_mobil">E5C3</button>
            </div>
            <div class="E5C2_mobil">
            <button class="btnE5C2_mobil">E5C2</button>
            </div>
            <div class="E5C1_mobil">
            <button class="btnE5C1_mobil">E5C1</button>
            </div>
          
            <div class="E6C1_mobil">
            <button class="btnE6C1_mobil">E6C1</button>
            </div>
            <div class="E6C2_mobil">
            <button class="btnE6C2_mobil">E6C2</button>
            </div>
            <div class="E6C3_mobil">
            <button class="btnE6C3_mobil">E6C3</button>
            </div>

            </div>

            <div class="params">

            </div>

    <script src="/static/responsive.js"> </script>
</body>
</html>
