<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="icon" href="/static/images/CNRSlogo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/index.css">
    <title>Accueil</title>

      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
               <a class="navbar-brand"></a>
               <a href=""> 
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                         data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                         aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                    </button> 
               </a>
               <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                         <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#"></a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link " href="inscription">Inscription</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link " href="experiences">Expériences</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link " href="utilisateurs">Utilisateurs</a>
                         </li>
                         <li class="nav-item">
                         {% if role == 'visiteur' %}
                              <a class="nav-link " href="connexion">Connexion</a>
                         {% else %}
                              <a class="nav-link" href="deconnexion">Déconnexion</a>
                         {% endif %}
                         </li>
                    </ul>
               </div>
        </div>
      </nav>
</head>
<body>
    
    
    <div class="full">
        
        <img class="ecolabs" src="/static/images/DJI_0884.JPG" alt="">
        
        <div class="cell E1C3" id="E1C3">
           <a href="/E1C3"><button class="btnE1C3">E1C3</button> </a>
            <div class="E1C2">
             <a href="/E1C2"> <button class="btnE1C2">E1C2</button> </a>
            </div>
            <div class="E1C1">
             <a href="/E1C1"> <button class="btnE1C1" >E1C1</button> </a>
            </div>
            <div class="E3C3">
                 <a href="/E3C3"> <button class="btnE3C3"  >E3C3</button> </a>
            </div>
            <div class="E3C2">
                 <a href="/E3C2"> <button class="btnE3C2" >E3C2</button> </a>
            </div>
            <div class="E3C1">
                 <a href="/E3C1"> <button class="btnE3C1"  >E3C1</button> </a>
            </div>
            <div class="E5C3">
                 <a href="/E5C3"> <button class="btnE5C3"  >E5C3</button> </a>
            </div>
            <div class="E5C2">
                 <a href="/E5C2"> <button class="btnE5C2"  >E5C2</button> </a>
            </div>
            <div class="E5C1">
                 <a href="/E5C1"> <button class="btnE5C1" >E5C1</button> </a>
            </div>
            <div class="E2C1">
                 <a href="/E2C1"> <button class="btnE2C1" >E2C1</button> </a>
            </div>
            <div class="E2C2">
                 <a href="/E2C2"> <button class="btnE2C2" >E2C2</button> </a>
            </div>
            <div class="E2C3">
                 <a href="/E2C3"> <button class="btnE2C3">E2C3</button> </a>
            </div>
            <div class="E4C1">
                 <a href="/E4C1"> <button class="btnE4C1">E4C1</button> </a>
            </div>
            <div class="E4C2">
                 <a href="/E4C2"> <button class="btnE4C2" >E4C2</button> </a>
            </div>
            <div class="E4C3">
                 <a href="/E4C3"> <button class="btnE4C3">E4C3</button> </a>
            </div>
            <div class="E6C1">
                 <a href="/E6C1"> <button class="btnE6C1" >E6C1</button> </a>
            </div>
            <div class="E6C2">
                 <a href="/E6C2"> <button class="btnE6C2" >E6C2</button> </a>
            </div>
            <div class="E6C3">
                 <a href="/E6C3"> <button class="btnE6C3" >E6C3</button> </a>
            </div>

            </div>
            <img class="ecolabs_mobil" src="/static/images/imgmobil2.png" alt="">
           
            <div class="cell E1C3_mobil">
             <a href="/E1C3"> <button class="btnE1C3_mobil">E1C3</button> </a>
            <div class="E1C2_mobil">
             <a href="/E1C2"> <button class="btnE1C2_mobil" >E1C2</button> </a>
            </div>
            <div class="E1C1_mobil">
             <a href="/E1C1"> <button class="btnE1C1_mobil">E1C1</button> </a>
            </div>

            <div class="E2C1_mobil">
             <a href="/E2C1"> <button class="btnE2C1_mobil">E2C1</button> </a>
            </div>
            <div class="E2C2_mobil">
             <a href="/E2C2"> <button class="btnE2C2_mobil">E2C2</button> </a>
            </div>
            <div class="E2C3_mobil">
             <a href="/E2C3"> <button class="btnE2C3_mobil" >E2C3</button> </a>
            </div>

            <div class="E3C3_mobil">
             <a href="/E3C3"> <button class="btnE3C3_mobil" >E3C3</button> </a>
            </div>
            <div class="E3C2_mobil">
             <a href="/E3C2"> <button class="btnE3C2_mobil" >E3C2</button> </a>
            </div>
            <div class="E3C1_mobil">
             <a href="/E3C1"> <button class="btnE3C1_mobil" >E3C1</button> </a>
            </div>

            <div class="E4C1_mobil">
             <a href="/E4C1"> <button class="btnE4C1_mobil" >E4C1</button> </a>
            </div>
            <div class="E4C2_mobil">
             <a href="/E4C2"> <button class="btnE4C2_mobil" >E4C2</button> </a>
            </div>
            <div class="E4C3_mobil">
             <a href="/E4C3"> <button class="btnE4C3_mobil" >E4C3</button> </a>
            </div>

            <div class="E5C3_mobil">
             <a href="/E5C3"> <button class="btnE5C3_mobil" >E5C3</button> </a>
            </div>
            <div class="E5C2_mobil">
             <a href="/E5C2"> <button class="btnE5C2_mobil">E5C2</button> </a>
            </div>
            <div class="E5C1_mobil">
             <a href="/E5C1"> <button class="btnE5C1_mobil" >E5C1</button> </a>
            </div>
          
            <div class="E6C1_mobil">
             <a href="/E6C1"> <button class="btnE6C1_mobil" >E6C1</button> </a>
            </div>
            <div class="E6C2_mobil">
             <a href="/E6C1"> <button class="btnE6C2_mobil" >E6C2</button> </a>
            </div>
            <div class="E6C3_mobil">
             <a href="/E6C3"> <button class="btnE6C3_mobil" >E6C3</button> </a>
            </div>

            </div>
            {%if detail=="yes" %}
            <div class="params" >
               <a href="{{ url_for('adminT') }}" > <button  class="btn-close close" aria-label="Close"></button></a>
                
               <form action="details" method="POST" >
                    <h1 class="titre-historique">Détail de {{ name }}<span id="nom_cellule"></span></h1>

               {% if not info['params']['temperature_reprise'] %}
               <table class="table">
                    <tr>
                         <td>Temperature Reprise</td>
                         <td>Donnée non disponible</td>
                    </tr>
                    <tr>
                         <td>Temperature Eau Pluie</td>
                         <td>Donnée non disponible</td>
                    </tr>
                    <tr>
                         <td>Temperature Consigne </td>
                         <td>Donnée non disponible</td>
                    </tr>
               </table>
               {% else %}
                    
               <table class="table">
                    <tr>
                         <td>Temperature Reprise</td>
                         <td>{{ "%.1f"|format(info['params']['temperature_reprise']) }}</td>
                    </tr>
                    <tr>
                         <td>Temperature Eau Pluie</td>
                         <td>{{ "%.1f"|format(info['params']['temperature_eau_pluie']) }}</td>
                    </tr>
                    <tr>
                         <td>Temperature Consigne </td>
                         <td>{{ "%.1f"|format(info['params']['temperature_consigne'])}}</td>
                    </tr>  
               </table>

               <button type="submit" name="name" value="{{name}}">PLUS</button>
               {% endif %}
                </form>
                
            </div>
            {% endif %}
            <script>
     // Autor: Deva
     const ecolabs = document.querySelector('.ecolabs');
    const ecolabs_mobil = document.querySelector('.ecolabs_mobil')
    const E1C3 = document.querySelector('#E1C3');
    const E1C3_mobil = document.querySelector('.E1C3_mobil')
    const E1C2 = document.querySelector('.E1C2');

    const btnE1C3 = document.querySelector('.btnE1C3');
    const btnE1C2 =document.querySelector('.btnE1C2');
    const btnE1C1 = document.querySelector('.btnE1C1')

    const E3C3 = document.querySelector('.E3C3')
    const E5C3 = document.querySelector('.E5C3')
    const E2C1 = document.querySelector('.E2C1')
    const E4C1 = document.querySelector('.E2C1')



    const btnE3C3 = document.querySelector('.btnE3C3')
    const btnE3C2 = document.querySelector('.btnE3C2')
    const btnE3C1 = document.querySelector('.btnE3C1')

    const btnE5C3 = document.querySelector('.btnE5C3')
    const btnE5C2 = document.querySelector('.btnE5C2')
    const btnE5C1 = document.querySelector('.btnE5C1')

    const btnE2C3 = document.querySelector('.btnE2C3')
    const btnE2C2 = document.querySelector('.btnE2C2')
    const btnE2C1 = document.querySelector('.btnE2C1')

    const btnE4C3 = document.querySelector('.btnE4C3')
    const btnE4C2 = document.querySelector('.btnE4C2')
    const btnE4C1 = document.querySelector('.btnE4C1')

    const btnE6C3 = document.querySelector('.btnE6C3')
    const btnE6C2 = document.querySelector('.btnE6C2')
    const btnE6C1 = document.querySelector('.btnE6C1')




    const btnE1C3_mobil = document.querySelector('.btnE1C3_mobil');
    const btnE1C2_mobil =document.querySelector('.btnE1C2_mobil');
    const btnE1C1_mobil = document.querySelector('.btnE1C1_mobil')

   
    const btnE2C1_mobil = document.querySelector('.btnE2C1_mobil')
    const btnE2C2_mobil = document.querySelector('.btnE2C2_mobil') 
    const btnE2C3_mobil = document.querySelector('.btnE2C3_mobil')

    const btnE3C3_mobil = document.querySelector('.btnE3C3_mobil')
    const btnE3C2_mobil = document.querySelector('.btnE3C2_mobil') 
    const btnE3C1_mobil = document.querySelector('.btnE3C1_mobil')

    const btnE4C1_mobil = document.querySelector('.btnE4C1_mobil')
    const btnE4C2_mobil = document.querySelector('.btnE4C2_mobil') 
    const btnE4C3_mobil = document.querySelector('.btnE4C3_mobil')

    const btnE5C3_mobil = document.querySelector('.btnE5C3_mobil')
    const btnE5C2_mobil = document.querySelector('.btnE5C2_mobil') 
    const btnE5C1_mobil = document.querySelector('.btnE5C1_mobil')

    const btnE6C1_mobil = document.querySelector('.btnE6C1_mobil')
    const btnE6C2_mobil = document.querySelector('.btnE6C2_mobil') 
    const btnE6C3_mobil = document.querySelector('.btnE6C3_mobil')

    const E2C1_mobil = document.querySelector('.E2C1_mobil')
    const E3C3_mobil = document.querySelector('.E3C3_mobil')
    const E4C1_mobil = document.querySelector('.E4C1_mobil')
    const E5C3_mobil = document.querySelector('.E5C3_mobil')
    const E6C1_mobil = document.querySelector('.E6C1_mobil')
   
    

     btnE1C1.style.backgroundColor =  "{{ couleur[0]  }}"
     btnE1C2.style.backgroundColor = "{{ couleur[1]  }}"
     btnE1C3.style.backgroundColor = "{{ couleur[2]  }}"

     btnE2C1.style.backgroundColor =  "{{ couleur[3]  }}"
     btnE2C2.style.backgroundColor = "{{ couleur[4]  }}"
     btnE2C3.style.backgroundColor = "{{ couleur[5]  }}"

     btnE3C1.style.backgroundColor =  "{{ couleur[6]  }}"
     btnE3C2.style.backgroundColor = "{{ couleur[7]  }}"
     btnE3C3.style.backgroundColor = "{{ couleur[8]  }}"

     btnE4C1.style.backgroundColor =  "{{ couleur[9]  }}"
     btnE4C2.style.backgroundColor = "{{ couleur[10]  }}"
     btnE4C3.style.backgroundColor = "{{ couleur[11]  }}"

     btnE5C1.style.backgroundColor =  "{{ couleur[12]  }}"
     btnE5C2.style.backgroundColor = "{{ couleur[13]  }}"
     btnE5C3.style.backgroundColor = "{{ couleur[14]  }}"

     btnE6C1.style.backgroundColor =  "{{ couleur[15]  }}"
     btnE6C2.style.backgroundColor = "{{ couleur[16]  }}"
     btnE6C3.style.backgroundColor = "{{ couleur[17]  }}"

              </script>

    <script src="/static/responsive.js"> </script>

    <footer class="footer" role="contentinfo">
     <div class="inner">
         <div class="home__small-inner footer__content">
             <a href="https://www.cnrs.fr/fr"><img src="/static/images/logo-footer.svg" alt="Accueil" class="logoCNRS"></a>
             <div class="footer__child">
                 <h3 class="footer__title">Nous suivre</h3>
                 <ul class="footer__social">
                     <li><a href="https://fr-fr.facebook.com/cnrs.fr/" target="_blank" class="facebook" rel="noopener noreferrer">Facebook</a></li>
                     <li><a href="https://twitter.com/cnrs?lang=fr%20" target="_blank" class="twitter" rel="noopener noreferrer">Twitter</a></li>
                     <li><a href="https://www.instagram.com/cnrs/" target="_blank" class="instagram" rel="noopener noreferrer">Instagram</a></li>
                     <li><a href="https://www.youtube.com/@CNRS" target="_blank" class="youtube" rel="noopener noreferrer">Youtube</a></li>
                 </ul>
             </div>
         </div>
     </div>
     <ul class="credits">
         <li class="menu-item">
             <a href="https://www.cnrs.fr/fr/accessibilite" target="_self" title="Politique d'accessibilité" data-drupal-link-system-path="node/1717" rel="noopener">Accessibilité</a>
         </li>
         <li class="menu-item">
             <a href="https://www.cnrs.fr/fr/credits" title="Crédits du site" data-drupal-link-system-path="node/1685">Crédits</a>
         </li>
         <li class="menu-item">
             <a href="https://www.cnrs.fr/fr/gestion-des-cookies" data-drupal-link-system-path="node/5633">Gestion des cookies</a>
         </li>
         <li class="menu-item">
             <a href="https://www.cnrs.fr/fr/rgpd" target="_self" title="RGPD" data-drupal-link-system-path="node/3179" rel="noopener">Données personnelles</a>
         </li>
         <li class="menu-item">
             <a href="https://www.cnrs.fr/fr/mentions-legales" data-drupal-link-system-path="node/1707">Mentions légales</a>
         </li>
     </ul>
 </footer>
</body>
</html>
