<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- ... -->

<form action="/submitlog" method="post">
    <label for="login_utilisateur">Nom d'utilisateur :</label>
    <input type="text" id="login_utilisateur" name="login_utilisateur" required>
    <br>
    <label for="mot_de_passe_utilisateur">Mot de passe :</label>
    <input type="password" id="mot_de_passe_utilisateur" name="mot_de_passe_utilisateur" required>
    <br>
    <input type="submit" value="Envoyer">
</form>

<!-- ... -->

</body>
</html>